@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.login-container {
    background-color: #304357;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    max-width: 90%;
    width: 900px;
    min-height:500px;
    overflow: hidden;
}

.login-left {
    width: 40%; 
    padding: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    color: rgb(218, 218, 218);
    align-items: center;
}

.login-left .logo {
    max-width: 300px;
    /* margin-bottom: 100px; */
}

.login-left h3 {
    font-weight: 500;
    font-size: 1.5rem;
}

.login-right{
    width: 60%; 
    padding: 40px;
    background-color: #2c3e50; 
    display: flex;
    align-items: center;
}

.form-section{
    width: 100%;
}

.form-section h2{
    color: #c5a77f;
    text-align: center;
    margin-bottom: 30px;
}

.imput-group{
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #cccdce; 
    font-size: 1rem;
    display: flex;
    margin-top: 10px;
}

.input-group input:focus {
    outline: 2px solid #c5a77f; 
}

.options a, .register a, .register p {
    color: #bdc3c7; 
    text-decoration: none;
    font-size: 0.9rem;
}

.options a:hover, .register a:hover {
    text-decoration: underline;
}

.register {
    text-align: center;
    margin-top: 15px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #c5a77f; 
    color: #2c3e50; 
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #2c3e50; 
    border: 1px solid #b89972;
    color:#b89972
}

.buttons{
    margin-top: 20px;
}

.buttons button[type="button"] {
    background-color: transparent;
    border: 1px solid #b89972;
    color: #b89972;
}

.buttons button[type="button"]:hover {
    background-color: #b89972;
    color:#2c3e50;
}




    